body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  background: #000;
}
nav a {
  padding: 10px 20px;
  float: left;
  color: #fff;
  text-decoration: none;
}
nav .active {
  background: #670c79;
  padding-right: 150px;
}

header {
  margin: 10px auto;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
}
header div {
  margin: 10px 0;
  background: #670c79;
  color: #fff;
  padding: 10px;
}
header .header__img {
  grid-row: 1/4;
  position: relative;
  height: 120px;
  min-width: 120px;
  max-width: 120px;
  border-radius: 50%;
  border: 3px solid #000;
  overflow: hidden;
  margin: 10px auto;
  background-image: url(img/image.png);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
}

main {
  margin: 10px auto;
  width: 90%;
}
main section {
  background: #670c79;
  margin: 10px 0;
  color: #fff;
  padding: 10px;
}
main .employment {
  height: 100px;
}
main .education {
  height: 60px;
}

@media screen and (max-width: 550px) {
  header, main {
    width: 100%;
    margin: 10px 0;
  }

  header {
    display: block;
  }

  nav {
    display: none;
  }
}
@media screen and (min-width: 960px) {
  header {
    grid-template-rows: 2fr 1fr;
  }
  header .header__about_me {
    grid-column: 1;
    grid-row: 1;
  }
  header .header__img {
    border: none;
    max-width: 1000px;
    background-size: cover;
    grid-column: 2;
    grid-row: 1;
    border-radius: 0px;
    margin: 10px 0 10px 20px;
    padding: 0;
  }
  header .header__contact {
    margin-left: 20px;
  }

  .employment {
    margin-bottom: 20px;
  }
}